/* TODO: Modify FadeIn to use translate */

body{
    margin: 0px;
    font-family: 'Segoe UI', sans-serif;
}

span{
    font-weight: 700;
}

:root{
    --banner-left-offset: 10vw;
    --banner-top-offset: 5vh;
    --company-name-width: 50vw;
    --tagline-width: 30vw;
    --start-button-width: 9vw;
    --about-width: 65vw;
    --login-width: 25vw;
    --login-size: 4 / 5;
    
    --registerWidth: 25vw;
  --registerHeight: 50vh;
  --registerPadding:20px;
  --registerMargin: 10%;
  --registerInputPadding: 2%;
  --registerFirstWidth: 40%;
  --registerCheckboxWidth: 20px;
  --quizWidth: 50vw;
  --quizHeight: 50vh;
  --quizPadding: 4vw;
  --boxHeight: 28vh;
  --boxWidth: 20vw;
  --boxMargin: 0.5vw;
  --homepageColor: #2f7ae5;
  --redirectColor: #2f7ae5;
  --shadow: 0 0px 15px 3px rgba(255, 255, 255, 0.2);
}

.banner{
    width: 100%;
    height: 100vh;
    background-color: #1f1f1f;

}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100%{
        opacity: 1;
        translate: translate(0px, 0px);
    }
}

.company-name{
    color: whitesmoke;
    font-size: 15vmin;
    width: var(--company-name-width);
    position: relative;
    left: var(--banner-left-offset);
    top: var(--banner-top-offset);
    text-align: center;
    opacity: 0;
    font-weight: 200;
    animation: fadeIn 1s 0s forwards;
}

.tagline{
    color: whitesmoke;
    font-size: 2vw;
    width: var(--tagline-width);
    position: relative;
    left: calc(var(--banner-left-offset) + 
    (var(--company-name-width) - var(--tagline-width)) / 2);
    top: calc(2 * var(--banner-top-offset));
    opacity: 0;
    animation: fadeIn 1s 0.2s forwards;
}

.start-button{
    background-color: rgba(33, 137, 255);
    border-radius: 3px;
    width: var(--start-button-width);
    aspect-ratio: 3 / 1;
    color: whitesmoke;
    position: relative;
    top: calc(5 * var(--banner-top-offset));
    left: calc(var(--banner-left-offset) + 
    (var(--company-name-width) - var(--tagline-width)) / 2);
    opacity: 1;
}

#start.animate{
    animation: fadeIn 1s 0.5s forwards;
}

.start-button:hover{
    opacity: 1;
    animation: glow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes glow {
    0%{
        box-shadow: none;
    }

    100%{
        box-shadow: 0px 0px 10px 5px rgba(33, 137, 255, 0.6);
    }
}

a{
    text-decoration: none;
    text-align: center;
}

a > div > p{
    font-weight: 300;
    font-size: 1.4vw;
    position: relative;
    top:15%;
}


.navbar{
    position:absolute;
    width: auto;
    height: 100px;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.login, .register{
    color: white;
    padding: 10px;
    font-size: 1.2vw;
}

.login:hover, .register:hover{
    animation-name: highlightText;
    animation-duration: 0.3s;
    animation-direction: forwards;
    color: rgb(66, 159, 252);
}
@keyframes highlightText {
    0%{
        color: white;
    }
    100%{
        color: rgb(66, 159, 252);
    }
}

#logo{
    width: 35vw;
    height: auto;
    transform: rotate(20deg);
    padding: 10rem 0 0 0;
    position: absolute;
    right: 8vw;
    top: -15vh;
    z-index: 0;
}

#about-header{
    text-align: center;
}

.about{
    display: grid;
    position: relative;
    width:var(--about-width);
    left: calc((100vw - var(--about-width)) / 2);
    height:auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    margin-top: 10vh;

}

.about-card-left, .about-card-right{
    width: 100%;
    min-height: 40vh;
}

.about-card-left{
    grid-column: 1 / span 1;
}

.about-card-right{
    grid-column: 2 / span 1;
}

#first-card, #second-card{
    grid-row: 1 / span 1;
}

#third-card, #fourth-card{
    grid-row: 2 / span 1;
}

#fifth-card, #sixth-card{
    grid-row: 3 / span 1;
}

.about-card-left h1, .about-card-right h1{
    text-align: center;
    font-size: 2vw;
}

.about-card-left p, .about-card-right p{
    width: 80%;
    position: relative;
    left: 10%;
    font-size: 1.3vw;
}

#first-row-image{
    width: 80%;
    position: relative;
    left: 10%;  
}

#second-row-image{
    width: 50%;
    position: relative;
    left:25%;
    top: 15%;
}

#third-row-image{
    width: 80%;
    position: relative;
    left: 10%;
}

#footer{
    font-size: 10px;
    text-align: center;
}

/* Login and Register Styling */

#login-logo-1, #login-logo-2{
    z-index: 1;
    position: absolute;
  }

#login-logo-1{
    transform: rotate(-20deg);
    left:5vw;
    top:10vh;
}

#login-logo-2{
    transform: rotate(40deg);
    right: 5vw;
    top:20vh;
    width: 20vw;
}

.registration-box{
    position: absolute;
    padding: var(--registerPadding);
    left: calc((100vw - var(--registerWidth) - var(--registerPadding))/2);
    top: calc((100vh - var(--registerHeight) - var(--registerPadding))/2);
    width: var(--registerWidth);
    height:auto;
  
    background-color: #303030;
    box-shadow: var(--shadow);
  
    border-radius:2px;
    z-index: 2;
  }
  
  .titleText{
    text-align: center;
    font-family: 'Segoe UI',sans-serif;
    font-size: 2em;
    padding:0px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
  }
  
  input[type=text], input[type=password]{
  
    background-color: #ECF0F1;
    border: none;
    border-radius: 2px;
    height: 25px;
    margin-left: var(--registerMargin);
    margin-right: var(--registerMargin);
    padding-left: var(--registerInputPadding);
    padding-right: var(--registerInputPadding);
    width: calc(var(--registerWidth) - (2*var(--registerMargin) + 2*var(--registerInputPadding)));
    margin-bottom: 10px;
  
  }
  
  input[type=text]:focus{
    outline:none;
  }
  
  input[type=submit]{
    background-color: #4189E1;
    color: white;
    margin-left: var(--registerMargin);
    font-size: 1rem;
    font-family: 'Segoe UI';
    width: calc(var(--registerWidth) - (2*var(--registerMargin)));
    border:none;
    height: 5vh;
    padding: calc(var(--registerInputPadding)+10px);
    border-radius: 10px;
  }
  
  #firstName{
    width: calc(0.5 * var(--registerWidth) - (2*var(--registerMargin)));
    margin-right: 0px;
  }
  
  #lastName{
    width: calc(0.6 * var(--registerWidth) - (2*var(--registerMargin)));
    margin-left: 0px;
    float:right;
  }
  
  #confirmPassword{
    width: calc(0.89 * var(--registerWidth) - (2*var(--registerMargin)));
    margin-right: 0px;
    margin-bottom: 10px;
  }
  
  #eyePicture{
    height: 20px;
    margin-right: var(--registerMargin);
    float:right;
    margin-top: calc((25px - 20px)/2);
    margin-bottom: calc((25px - 20px)/2);
  }
  
  ::placeholder{
    font-size: 1em;
  }
  
  input[type = checkbox]{
    margin-right: var(--registerMargin);
  }
  
  label{
     text-align: right;
     margin-left: var(--registerMargin);
     font-size: 0.6em;
  }
  
  
  .error, .success{
    margin-left: var(--registerMargin);
    margin-right: var(--registerMargin);
    padding: var(--registerInputPadding);
    font-size: 0.7rem;
    text-align: center;
    margin-top:0px;
    margin-bottom: 5px;
  }
  
  .error{
    color: #f24141;
  }
  
  .error a{
    color: #f24141;
    font-weight: bold;
  }
  
  .success{
    color: #12b35d;
  }
  
  .success a{
    color: #12b35d;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-weight: bold;
  }
  
  a{
    text-decoration: none;
    color: var(--redirectColor);
  }
  
  .switchPage{
    color: var(--redirectColor);
  }
  
  
  .redirect{
    margin-left: var(--registerMargin);
    margin-right: var(--registerMargin);
    text-align: center;
    color: white;
  }

  /* Select Page */
.option-box{
    width: 200px; 
    height: 200px;
    border:2px solid black;

}


.option-box:nth-child(3n+1){
    background-color: #f24141;
}

.option-box:nth-child(3n+2){
    background-color: #f24141;
}

.option-box:nth-child(3n+3){
    background-color: #f24141;
}

.option-box:hover{
    background-color: #2f7ae5;
    cursor: pointer;
}

#ide-container{
    display: grid;
    --width: 60vw;
    --height: 80vh;
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: calc((100vw - var(--width)) / 2);
    top: calc((100vh - var(--height)) / 2);
    background-color: #2d2d2d;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 10% 60% 30%;
    z-index: 2;
    box-shadow: 0px 0px 10px 1px rgba(66,159,252,1);
}
#ide-output{
    background-color: inherit;
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    margin: 0px;
    padding:10px;
    font-family: 'Source Code Pro', 'Segoe UI';
    font-size: 15px;
    color: white;
}

#ide-version{
    background-color: #353535;
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
}

#ide-input{
    background-color: #f24141;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
}

#editor-area{
    background: #1d1d1d;
    position: relative;
    height: calc(100% - 20px);
    width: calc(100% - 18px);
    border: 0px solid black;
    color: white;
    padding: 10px;
    resize:none;
    font-family: "Source Code Pro";
}

textarea::-webkit-scrollbar{
    position: relative;
    width: 0.8em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
    outline: 1px solid slategrey;
    border-radius: 3px;
  }

#ide-run-button{
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.ide-button-version{
    margin:0px;
    width: 100%;
    border: 1px solid rgba(30,30,30,0.6);
    height: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #353535;
}

.ide-button-version:hover{
    margin:0px;
    width: 100%;
    background-color: #4d4d4d;
    cursor: pointer;    
}

[data-ver='selected']{
    background-color: #444444;
}

#ide-title{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    text-align: center;
    margin-top: 5px;
    margin-left: 100px;
    color: white;    
}

#run-button{
    margin-left:0px;
    --width: 100%;
    --height: 100%;
    width: var(--width);
    height:var(--height);
    position: relative;

    top: calc((100% - var(--height))/2);
    left: calc((100% - var(--width))/2);
    background: rgba(66,159,252,1);
    border-radius: 0px;
    color: #1d1d1d;
    font-weight: 500;
    font-size:18px;
}

#run-button:hover{
    cursor:pointer;
    animation: boxglow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes boxglow {
    0%{
        background-color:rgba(66,159,252,1);;
    }

    100%{
        background-color: #03a9fc;
    }
}

